@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.ProposedTalks.ProposedTalkDetailViewModel

@{
    ViewBag.Tab = PageTab.ProposedTalks;
    ViewBag.TitleTag = @Model.ProposedTalk.TalkTitle + " by " + Model.ProposedTalk.SpeakerFullName  + " - DDD South West";
    ViewBag.MetaDescription = "DDD South West's proposed talks";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h1>@Model.ProposedTalk.TalkTitle</h1>
    <p>Submitted by @Model.ProposedTalk.SpeakerFullName</p>
    
    <div class="pure-g">
        <div class="pure-u-1-1 pure-block">
            <p><strong>Talk Abstract:</strong></p>
            @Html.Raw(Model.ProposedTalk.TalkBodyHtml)
        </div>
    </div>
    
    <div style="border-bottom: 5px solid #eaeaea; margin-bottom: 15px;"></div>
    
    <div class="pure-g">
        <div class="pure-u-1-1 pure-block">
            <h4>About @Model.ProposedTalk.SpeakerFullName</h4>
            <p>@Html.Raw(Model.ProposedTalk.SpeakerBioHtml)</p>
        </div>
    </div>
    
    <div class="pure-u-1-1 pure-block">
        <a href="@Url.RouteUrl(RouteNames.ProposedTalks)">&laquo; Return to Proposed Talks</a>
    </div>
}