@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.ProposedTalks.ProposedTalksViewModel

@{
    ViewBag.Tab = PageTab.ProposedTalks;
    ViewBag.TitleTag = "Proposed talks - DDD South West";
    ViewBag.MetaDescription = "DDD South West's proposed talks";
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h1>Proposed Talks for DDD South West 2020</h1>
    <div class="pure-g">

        <div class="pure-u-1-1 pure-block">
            @if (Model.ProposedTalks.Any())
            {
                <p>There @(Model.ProposedTalks.Count == 1 ? "is" : "are") currently @Model.ProposedTalks.Count proposed talk@(Model.ProposedTalks.Count == 1 ? "" : "s") for DDD South West 2018. Interested in speaking this year? Why not <a href="@Url.RouteUrl(RouteNames.AccountRegistration)">register and propose a talk?</a>.</p>
                foreach (var talk in Model.ProposedTalks)
                {
                    <div class="gutter-bottom-default underline" style="margin-bottom: 20px;">
                        <div class="media">
                            @if (talk.ProfileImageExists)
                            {
                                <div class="media__left">
                                    <img src="@talk.ProfileImage" style="width: 150px;" class="polaroid" alt="@talk.SpeakerGivenName @talk.SpeakerFamilyName"/>
                                </div>    
                            }
                            <div class="media__body">
                                <h3 class="gutter-none"><a href="@Url.RouteUrl(RouteNames.ProposedTalkDetail, new {Id = talk.TalkId})">@talk.TalkTitle</a></h3>
                                <p>by @talk.SpeakerGivenName @talk.SpeakerFamilyName</p>
                                <p>@talk.TalkSummary</p>
                            </div>
                            
                        </div>
                    </div>
                }
            }
            else
            {
                <p>No proposed talks as of yet! If you're interested in speaking at this year's DDD South West then why not submit a talk proposal yourself?</p>
            }    
        </div>

    </div>
}