@using DDDSouthWest.Website.Framework
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html lang="en">
<head>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113143890-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-113143890-1');
    </script>

    @if (!string.IsNullOrEmpty(ViewBag.TitleTag))
    {
        <title>@ViewBag.TitleTag</title>
    }

    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">
    <link rel="shortcut icon" href="/favicon.png">

    @*<environment names="Development,Development.Docker"> TODO: Minify when in prod*@
    <link href="/css/normalize.css" rel="stylesheet"/>
    <link href="/css/unsemantic-grid-responsive-no-ie7.css" rel="stylesheet"/>
    <link href="/css/default.css" rel="stylesheet"/>
    <link href="/css/styles.css" rel="stylesheet"/>
    <link href="/css/layout.css" rel="stylesheet"/>
    <link href="/css/nav.css" rel="stylesheet"/>
    <link href="/css/components.css" rel="stylesheet"/>
    <link href="/pure-1.0.0/forms.css" rel="stylesheet"/>
    <link href="/pure-1.0.0/grids.css" rel="stylesheet"/>
    <link href="/pure-1.0.0/buttons.css" rel="stylesheet"/>
    <link href="/pure-1.0.0/tables.css" rel="stylesheet"/>
    @*</environment>    *@

    @if (IsSectionDefined("Css"))
    {
        @await RenderSectionAsync("Css", false)
    }

    @if (IsSectionDefined("ScriptsHeader"))
    {
        @await RenderSectionAsync("ScriptsHeader", false)
    }
</head>
<body>
        
<header>
    <div>
        
        <div class="grid-container">
            <a href="/" class="site-logo">
                <span class="site-logo__title">DDD South West</span>
            </a>
            <nav class="main-menu-container">
                <ul class="main-menu">
                    <li @Html.Raw(ViewBag.Tab == PageTab.Home ? "class=\"active\"" : string.Empty)><a href="/">Home</a></li>
                    <li @Html.Raw(ViewBag.Tab == PageTab.News ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.NewsList)">News</a></li>
                    <li @Html.Raw(ViewBag.Tab == PageTab.About ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "about"})">About</a></li>
                    @*<li @Html.Raw(ViewBag.Tab == PageTab.Speakers ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "speakers"})">Speakers</a></li>
                    <li @Html.Raw(ViewBag.Tab == PageTab.Sessions ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "sessions"})">Sessions</a></li>*@
                    <li @Html.Raw(ViewBag.Tab == PageTab.Venue ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "venue"})">Venue</a></li>
                    @*<li @Html.Raw(ViewBag.Tab == PageTab.ProposedTalks ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.ProposedTalks)">Talks</a></li>*@
                    <li @Html.Raw(ViewBag.Tab == PageTab.CodeOfConduct ? "class=\"active\"" : string.Empty)><a href="/page/code-of-conduct">Code of Conduct</a></li>
                    <li @Html.Raw(ViewBag.Tab == PageTab.Schedule ? "class=\"active\"" : string.Empty)><a href="/page/schedule">Schedule</a></li>
                    <li @Html.Raw(ViewBag.Tab == PageTab.Sponsors ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.Sponsors)">Sponsors</a></li>
                    @*<li @Html.Raw(ViewBag.Tab == PageTab.MeetTheTeam ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.MeetTheTeam)">Meet the team</a></li>*@
                    
                    @if ((await AuthorizationService.AuthorizeAsync(User, AccessPolicies.RegisteredAccessPolicy)).Succeeded)
                    {
                        <li @Html.Raw(ViewBag.Tab == PageTab.Login ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.AccountDashboard)">Account</a></li>
                        <li @Html.Raw(ViewBag.Tab == PageTab.Logout ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.AccountLogout)">Logout</a></li>
                    }
                    else
                    {
                        <li @Html.Raw(ViewBag.Tab == PageTab.Register ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.AccountRegistration)">Register</a></li>
                        <li @Html.Raw(ViewBag.Tab == PageTab.Logout ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.AccountLogin)">Login</a></li>
                    }
                </ul>
            </nav>
            <div class="clear"></div>
        </div>
        
        
    </div>
</header>
@*
    <div class="grid-container header-container" style="background-color: #ff9930;padding: 0;margin: 0;max-width: none;">
        <p style="text-align: center; font-weight: bold;margin: 0;padding: 10px">
            <a href="https://dddsouthwest.com/news/14/ddd-south-west-2022-cfp-now-open" style="color: #fff; text-decoration: underline">DDD South West 2022 Call for Speakers Now Open</a>
        </p>
    </div>
*@
@RenderBody()

<div class="grid-container">
    <div class="grid-100">
        <div class="footer-wrapper">
            <ul class="main-menu">
                <li><a href="/">Home</a></li>
                <li><a href="/team">Team</a></li>
                <li><a href="/page/venue">Venue</a></li>
                <li><a href="/page/code-of-conduct">Code of Conduct</a></li>
            </ul>
        </div>
    </div>
</div>

@if (IsSectionDefined("ScriptsFooter"))
{
    @await RenderSectionAsync("ScriptsFooter", false)
}

</body>
</html>
