@using DDDSouthWest.Website.Framework
@using Microsoft.AspNetCore.Mvc

<!DOCTYPE html>
<html lang="en">
<head>
    @if (!string.IsNullOrEmpty(ViewBag.TitleTag))
    {
      <title>@ViewBag.TitleTag</title>
    }

    @if (!string.IsNullOrEmpty(ViewBag.MetaDescription))
    {
        <meta name="description" content="@ViewBag.MetaDescription">
    }

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @*<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800" rel="stylesheet">*@

	<environment names="Development,Development.Docker">
        <link href="/css/normalize.css" rel="stylesheet" />
        <link href="/css/unsemantic-grid-responsive-no-ie7.css" rel="stylesheet" />
	    <link href="/css/default.css" rel="stylesheet" />
	    <link href="/css/styles.css" rel="stylesheet" />
	    <link href="/css/layout.css" rel="stylesheet" />
	    <link href="/css/nav.css" rel="stylesheet" />
	    <link href="/css/components.css" rel="stylesheet" />
	    <link href="/pure-1.0.0/forms.css" rel="stylesheet" />
	    <link href="/pure-1.0.0/grids.css" rel="stylesheet" />
	    <link href="/pure-1.0.0/buttons.css" rel="stylesheet" />
	    <link href="/pure-1.0.0/tables.css" rel="stylesheet" />
    </environment>    
    
    @if (IsSectionDefined("Css"))
    {
        @RenderSection("Css", false)
    }

    @if (IsSectionDefined("ScriptsHeader"))
    {
        @RenderSection("ScriptsHeader", false)
    }
</head>
<body>
        
<header>
    
    <div class="header-container">
        
        <a href="/" class="site-logo">
            <span class="site-logo__title">DDD South West</span>
        </a>
        <nav class="main-menu-container">
            <ul class="main-menu">
                <li @Html.Raw(ViewBag.Tab == PageTab.Home ? "class=\"active\"" : string.Empty)><a href="/">Home</a></li>
                <li @Html.Raw(ViewBag.Tab == PageTab.News ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.NewsList)">News</a></li>
                <li @Html.Raw(ViewBag.Tab == PageTab.About ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "about"})">About</a></li>
                @*<li @Html.Raw(ViewBag.Tab == PageTab.Speakers ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "speakers"})">Speakers</a></li>
                <li @Html.Raw(ViewBag.Tab == PageTab.Sessions ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "sessions"})">Sessions</a></li>*@
                <li @Html.Raw(ViewBag.Tab == PageTab.Venue ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "venue"})">Venue</a></li>
                <li @Html.Raw(ViewBag.Tab == PageTab.Sponsors ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl("page", new {filename = "sponsors"})">Sponsors</a></li>
                <li @Html.Raw(ViewBag.Tab == PageTab.Register ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.AccountRegistration)">Register</a></li>
                <li @Html.Raw(ViewBag.Tab == PageTab.Login ? "class=\"active\"" : string.Empty)><a href="@Url.RouteUrl(RouteNames.AccountLogin)">Login</a></li>
            </ul>
        </nav>
        
        <div class="clear"></div>
    </div>

</header>

@RenderBody()

@if (IsSectionDefined("ScriptsFooter"))
{
    @RenderSection("ScriptsFooter", false)
}

</body>
</html>