@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Public.Account.ManageTalks.TalkListViewModel

@{
    ViewBag.Tab = PageTab.Login;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h1>Your Proposed Talks</h1>
    
    <div class="pure-g">
        
        <div class="pure-u-1-1 pure-block">
            <p>Below you'll find a list of your proposed talks. From here you can add, edit and delete talk proposals then once happy submit them for voting. Please bear in mind that talks will need to be approved by an administrator before they are publically visible on the DDD South West website.</p>
        </div>
        
        <div class="pure-u-1-1 pure-block">
            <a class="pure-button pure-button-primary" href="@Url.RouteUrl(RouteNames.SpeakerTalkCreate)">Add New Talk</a>
        </div>

        <div class="pure-u-1-1 pure-block">

            <table class="pure-table pure-table-horizontal util--stretch">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Talk Title</th>
                    <th>Last Modified</th>
                    <th>Submitted</th>
                    <th>Awaiting Approval</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var talk in Model.Talks)
                {
                    <tr>
                        <td><a href="@Url.RouteUrl(RouteNames.SpeakerTalkEdit, new { id = talk.Id })">Edit</a></td>
                        <td>@talk.TalkTitle</td>
                        <td>@talk.LastModified.ToString("ddddd, dd MMM yyyy")</td>
                        <td>@(talk.IsSubmitted ? "Yes" : "No")</td>
                        <td>
                            @if (talk.IsSubmitted)
                            {
                                @(talk.IsApproved ? "Proposal Approved" : "Pending Approval")   
                            }
                            else
                            {
                                <span>Not submitted</span>
                            }
                        </td>
                    </tr>    
                }
                </tbody>
            </table>

        </div>
        
        <div class="pure-u-1-1 pure-block">
            <a href="@Url.RouteUrl(RouteNames.AccountDashboard)">&laquo; Return to Account</a>
        </div>

    </div>
}