@model DDDSouthWest.Domain.Features.Account.ManageEvents.CreateEvent.CreateEvent.Command

@Html.AntiForgeryToken()
@Html.ValidationSummary(true)

<fieldset>
    
    <div class="pure-control-group">
        <label for="name">Event Name</label>
        @*<input id="name" type="text" placeholder="Event Name">*@
        @Html.TextBoxFor(x => x.EventName)
    </div>

    <div class="pure-control-group">
        <label for="name">Event Filename</label>
        @Html.TextBoxFor(x => x.EventFilename)
    </div>

    <div class="pure-control-group">
        <label for="name">Event Date</label>
        @Html.TextBoxFor(x => x.EventDate)
    </div>

    <div class="pure-controls">
        <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
</fieldset>
