@using DDDSouthWest.Website.Framework
@model DDDSouthWest.Website.Features.Admin.Account.ManageTalks.ListViewModel

@{
    ViewBag.Tab = PageTab.Login;
    Layout = "~/Views/Shared/_LayoutFull.cshtml";
}

@section Header {
    <page-banner title="Talks"/>
}

@section MainColBody {

    <h1>Manage Talks</h1>
    <p>We have @Model.TotalTalks talks across @Model.UniqueSpeakers speakers</p>
    
    <div class="pure-g">

        <div class="pure-u-1-1 pure-block">

            <table class="pure-table pure-table-horizontal util--stretch">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>Talk Title</th>
                    <th>Speaker</th>
                    <th>Dated Added</th>
                    <th>Is Submitted</th>
                    <th>Is Approved</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var talk in Model.Talks)
                {
                    <tr>
                        <td><a href="@Url.RouteUrl(RouteNames.AdminTalkEdit, new { id = talk.Id })">Edit</a></td>
                        <td>@talk.TalkTitle</td>
                        <td>@talk.SpeakerFullName</td>
                        <td>@talk.DateAdded</td>
                        <td>@talk.IsSubmitted</td>
                        <td>@talk.IsApproved</td>
                    </tr>    
                }
                </tbody>
            </table>

        </div>
        
        <div class="pure-u-1-1 pure-block">
            <a href="@Url.RouteUrl(RouteNames.AccountDashboard)">&laquo; Return to Account</a>
        </div>

    </div>
}